flask
gunicorn
mysql-connector-python
pytest
python-dotenv 
blinker
cachelib
cachetools
certifi
charset-normalizer
click
idna
itsdangerous
Jinja2
MarkupSafe
requests
urllib3
Werkzeug
mysql-connector-python
flask-session
requests
boto3