<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoraviYum Food Review</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>
<body>
    <div class="signin_container fade-in" id="signin_panel">
        <h1 id="moraviyum_welcome">Welcome to MoraviYum Food Review</h1> 
        <img src="/moravian_star.png" alt="moravian_star" id="moravian_star_image">
        <p id="moraviyum_description">MoraviYum is a platform for Moravian students to share their honest opinions about the food options available on campus. </p>
        <h5 id="moraviyum_description">Sign up to start sharing your own thoughts with your fellow students!</h5>
        <!-- The following link will change depending on the cognito user pool. Check to see if we can make it a .env variable later -->
        <a href="https://moraviyum-cloud-computing.auth.us-east-1.amazoncognito.com/login?client_id=7j5kdccfdn6escf8ma1ki8a59c&response_type=token&scope=email+openid&redirect_uri=https%3A%2F%2Fprod.d2o9ezngel5tzv.amplifyapp.com%2Fcallback.html">
            <button id="login_button" onclick="handleAuth()">Log in with Cognito</button>
        </a>
    </div>
    
    <script>
        // The following link will change dependong on the cognito user pool. Check to see if we can make it a .env variable later
        const login_server = 'https://moraviyum-cloud-computing.auth.us-east-1.amazoncognito.com/login?client_id=7j5kdccfdn6escf8ma1ki8a59c&response_type=token&scope=email+openid&redirect_uri=https%3A%2F%2Fprod.d2o9ezngel5tzv.amplifyapp.com%2Fcallback.html';

        // Check if the user is logged in by looking for a token in localStorage
        function updateAuthButton() {
            const authButton = document.getElementById('login_button');
            if (localStorage.getItem('bearer_str')) {
                authButton.innerText = "Logout";
            } else {
                authButton.innerText = "Login";
            }
        }

        // Handle login/logout based on the button click
        function handleAuth() {
            if (localStorage.getItem('bearer_str')) {
                // If logged in, log out
                localStorage.removeItem('bearer_str');
                window.location.href = location.origin; // Redirect to home
            } else {
                // If not logged in, redirect to Cognito login
                window.location.href = login_server;
            }
        }

        // Set up the page when loaded
        window.onload = () => {
            updateAuthButton();
        };
    </script>

</body>
<script src="/static/app.js"></script>
</html>