<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoraviYum Food Review</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>
<body>
    <div class="signin_container fade-in" id="signin_panel">
        <h1 id="moraviyum_welcome">Welcome to MoraviYum Food Review</h1> 
        <img src="/moravian_star.png" alt="moravian_star" id="moravian_star_image">
        <p id="moraviyum_description">MoraviYum is a platform for Moravian students to share their honest opinions about the food options available on campus. </p>
        <h5 id="moraviyum_description">Sign up to start sharing your own thoughts with your fellow students!</h5>
        <a href="/login"><button id="login_button">Log in</button></a>
    </div>

</body>
<script src="app.js"></script>
</html>